{% sw_extends '@Storefront/storefront/page/content-section.html.twig' %}

{% block page_content_section_content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>TopsellerExportSW6 Plugin Example</h1>
                <p>This is an example page from the TopsellerExportSW6 plugin.</p>
                <p>The controller action works and renders this Twig template!</p>
            </div>
        </div>
    </div>
{% endblock %}